body {
  background-color: #F9F8F7;
}

.container {
  margin-left: 10%;
  margin-right: 0%;
}

#ctn-box {
  width: 50%;
  background-color: white;
  box-shadow: lightgrey 2px 2px 10px;
  margin-top: 2%;
  color: #4A4E53;
}

#question {
  background-color: #f6921e;
  border-bottom: solid 3px #ec1c24;
  box-shadow: lightgrey 0px 5px 10px;
  color: white;
  justify-content: center;
  padding: 1% 0% 1% 0%;
  margin-bottom: 2%;
}

#question > div > h3 {
  font-weight: bold;
}

table {
  width: 100%;
}

#content {
  margin-left: 2%;
}

.label {
  margin-left: 3%;
}

#btn-row {
  justify-content: right;
}

.btn {
  margin-top: 1%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.btn-danger {
  background-color: #ec1c24;
}

@media screen and (max-width: 600px) {

  body {
    background-color: #F9F8F7;
  }

  .container {
    margin-left: 10%;
    margin-right: 0;
  }

  #ctn-box-mobile {
    width: 100%;
    background-color: white;
    margin-top: 2%;
    color: #4A4E53;
  }

  #question-mobile {
    justify-content: center;
    border-bottom: 3px solid #f6921e;
    margin-bottom: 20%;
  }

  #question-mobile > h3 {
    padding-bottom: 5%;
    font-weight: bold;
  }

  .row {
    justify-content: center;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%
  }

  #evaluate {
    margin-bottom: 10%;
    font-size: 75%;
  }

  #answers {
    font-weight: bold;
  }

  #content-mobile {
    margin-bottom: 10%;
  }

  .btn {
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 2%;
  }

  .btn-danger {
    background-color: #ec1c24;
  }
}



