<ng4-loading-spinner></ng4-loading-spinner>
<div class="container d-lg-block d-none" id="ctn-box">
  <div class="row" id="question" *ngIf="question">
    <div>
      <h3>{{question.title}}</h3>
    </div>
  </div>
  <div class="row" *ngIf="question">
    <div class="table-responsive">
      <table>
        <tr *ngFor="let answer of question.answers; index as i">
          <td>
            <input type="radio" name="content" id="content" [checked]="i === 0" [value]="answer.id"
                   (change)="onSelectionChange(answer)">
            <label for="content" class="label">{{answer.content}}</label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" id="btn-row">
    <button class="btn btn-outline-info">Retour vers TestAchats.be</button>
    <button type="submit" routerLink="/interets/choice" class="btn btn-outline-info">SUIVANT</button>
  </div>
</div>
 <!--//////////////////////////// TEST RESPONSIVE ////////////////////////////-->
<div class="container-fluid d-lg-none d-sm-block" *ngIf="question && question.answers" id="ctn-box-mobile">
  <div class="row" id="question-mobile">
    <h3>Vous avez choisi Test Achats...</h3>
  </div>
  <div class="row" id="answers" *ngIf="question.answers">
    <p>{{question.answers[mPage].content}}</p>
  </div>
  <div class="row" id="content-mobile">
    <div class="containerRadio" *ngIf="question.answers">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
               [value]="question.answers[mPage].id"
               (change)="onSelectionChange(question.answers[mPage])"
               value="option1">
        <label class="form-check-label" for="inlineRadio1">Oui</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Non</label>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="question">
    <button type="submit" (click)="onClickPrevious()" *ngIf="mPage > 0" class="btn btn-outline-info">PRÉCÉDENT
    </button>
    <button type="submit" (click)="onClickNext()" *ngIf="mPage < question.answers.length" class="btn btn-outline-info">
      SUIVANT
    </button>
    <button type="submit" routerLink="/interets/choice" *ngIf="mPage === question.answers.length"
            class="btn btn-outline-info">
      VOS INTÉRÊTS
    </button>
  </div>
</div>




