.container {
  margin-left: 10%;
  margin-right: 0;
}

#ctn-box {
   width: 50%;
   background-color: white;
   box-shadow: lightgrey 2px 2px 10px;
   margin-top: 2%;
   color: #4A4E53;
}

#ctn-box-mobile {
  width: 100%;
  margin-top: 2%;
  color: #4A4E53;
}


