<app-desktop-a class="container d-lg-block d-md-block d-sm-none d-none" id="ctn-box" [question]="question"
               [userId]="userId"></app-desktop-a>

<app-mobile-a class="container-fluid d-lg-none d-md-none d-sm-block d-block" id="ctn-box-mobile" [question]="question"
              [userId]="userId"></app-mobile-a>
<ng4-loading-spinner></ng4-loading-spinner>
