<div class="container d-lg-block d-none" id="ctn-box">
  <div class="row" id="question" *ngIf="interest">
    <h3>{{interest.title}}</h3>
  </div>
  <div class="row" *ngIf="interest">
    <div class="table-responsive">
      <table #choicesTable>
        <tr *ngFor="let theme of interest.themes; index as i">
          <td class="td-check">
            <input class="checkoption" type="checkbox" id="checkbox{{i}}" [value]="theme.id"
                   [checked]="theme.interested" (change)="onCheckBoxChange(theme, $event)">
          </td>
          <td class="td-label"><label for="checkbox{{i}}">{{theme.content}}</label></td>
        </tr>
        <tr>
          <td class="td-check">
            <input type="checkbox" id="checkboxnone" [value]="0" [checked]="noChoice"
                   (change)="onZeroChoice(choicesTable, $event)">
          </td>
          <td class="td-label"><label for="checkboxnone">Aucun des choix proposés</label></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" id="btn-row">
    <button routerLink="/drivers/testB" class="btn btn-outline-info">précédent TestB</button>
    <button routerLink="/drivers" class="btn btn-outline-info">précédent TestA</button>
    <button routerLink="/thanks" type="submit" class="btn btn-outline-info" [disabled]="nbChecked == 0">SUIVANT</button>
  </div>
</div>
<!--////////////////////////////// TEST RESPONSIVE ////////////////////////// -->


<div class="container-fluid d-lg-none d-sm-block" id="ctn-box-mobile">
  <div class="row" *ngIf="interest" id="question-mobile">
    <h3>{{interest.title}}</h3>
  </div>
  <div class="row" *ngIf="interest">
    <p> {{interest.themes[mPage].content}} </p>
  </div>

  <div class="row" id="content-mobile">
    <div class="containerRadio">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
               value="option1">
        <label class="form-check-label" for="inlineRadio1">Oui</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Non</label>
      </div>
    </div>
  </div>

  <div class="row">
    <button (click)="onClickPrevious()" type="submit" class="btn btn-outline-info">précédent</button>
    <button (click)="onClickNext()" type="submit" class="btn btn-outline-info">SUIVANT</button>
  </div>
</div>




