<ng4-loading-spinner></ng4-loading-spinner>
<div class="row" id="question">
  <div *ngIf="question">
    <h3>{{question.title}}</h3>
  </div>
</div>
<div class="row">
  <div class="table-responsive" *ngIf="question && question.answers">
    <table>
      <tr *ngFor="let answer of question.answers; index as i">
        <td class="td-answers">{{answer.content}}</td>
        <td class="td-rating">
          <fieldset class="rating" (change)="questionAnswered(answer, $event)">
            <input type="radio" id="starD5{{i + 1}}" name="rating{{i + 1}}" value="5" [checked]="answer.note === 5">
            <label class="full" for="starD5{{i + 1}}" title="5 étoile"></label>
            <input type="radio" id="starD4{{i + 1}}" name="rating{{i + 1}}" value="4" [checked]="answer.note === 4">
            <label class="full" for="starD4{{i + 1}}" title="4 étoile"></label>
            <input type="radio" id="starD3{{i + 1}}" name="rating{{i + 1}}" value="3" [checked]="answer.note === 3">
            <label class="full" for="starD3{{i + 1}}" title="3 étoile"></label>
            <input type="radio" id="starD2{{i + 1}}" name="rating{{i + 1}}" value="2" [checked]="answer.note === 2">
            <label class="full" for="starD2{{i + 1}}" title="2 étoile"></label>
            <input type="radio" id="starD1{{i + 1}}" name="rating{{i + 1}}" value="1" [checked]="answer.note === 1">
            <label class="full" for="starD1{{i + 1}}" title="1 étoile"></label>
          </fieldset>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row" id="btn-row">
  <button routerLink="/interets/choice" class="btn btn-outline-info">SUIVANT</button>
</div>
