@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background-color: #F9F8F7;
}

#question {
  background-color: #f6921e;
  border-bottom: solid 3px #ec1c24;
  box-shadow: lightgrey 0 5px 10px;
  color: white;
  justify-content: center;
  padding: 1% 0 1% 0;
  margin-bottom: 2%;
}

#question > div > h3 {
  font-weight: bold;
}

.td-answers {
  width: 79%;
  height: auto;
  text-align: right;
  padding-right: 1%;
}

.td-rating {
  width: 20%;
}

#btn-row {
  justify-content: right;
}

.btn {
  margin-top: 1%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.btn-danger {
  background-color: #ec1c24;
}

/**** STAR RATING ****/
fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome, serif;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



