<div class="container-fluid" id="header">
  <img src="https://www.test-achats.be/-/media/ta/mobile/logo-fr-be-svg/logo-v2-fr-be.svg?rev=23af434d-2187-4d0a-8d53-
 9d9dd264cc0a&mw=180&hash=6385A9C8D54FC05EDC6C18E0E372CF9DDF004F00" alt="TESTachats">
</div>
<router-outlet></router-outlet>
