<div class="container">
  <div class="little-title">
      <h6>Votre avis nous interesse..</h6>
  </div>
    <div class="firstLgTitle">
      <h3>En tant que nouveau client, nous aimerions vous connaitre..</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus iaculis at dolor non varius. Phasellus vitae rutrum tortor.
            Cras vehicula diam et fringilla tincidunt. Suspendisse potenti.
            Sed lobortis tellus ac ex tempor dignissim. In fringilla luctus dolor.
            Aliquam maximus, purus ac aliquet tristique, lorem ante rhoncus est, eget bibendum lacus velit ut ante.
        </p>
    </div>
      <div class="secondeLgTitle">
        <h3>Participez à notre enquête de satisfaction</h3>
      </div>

      <div class="buttonParticipez">
         <button routerLink="/drivers" class="btn btn-outline-primary">Participez</button>
      </div>

</div>
