.container {
  width: 50%;
  height: 100%;
  text-align: center;
  border-top: solid orange 3px ;
  margin-top: 5%;
}
.little-title{
  margin-top: 2%;
}
.firstLgTitle{
  margin-top: 5%;
}
.secondeLgTitle{
  margin-top: 15%;
}
.buttonParticipez{
  margin-top: 10%;
}

