<ng4-loading-spinner></ng4-loading-spinner>
<div class="row" id="question-mobile">
  <div *ngIf="question">
    <h3>{{question.title}}</h3>
  </div>
</div>

<div class="row" *ngIf="question && question.answers">
  <div class="answers">{{mPage + 1}}/{{question.answers.length}} ({{question.answers[mPage].note}} / 5)</div>
  <div class="answers">{{question.answers[mPage].content}}</div>
</div>

<div class="row" *ngIf="question && question.answers">
  <fieldset class="rating" (change)="questionAnswered(question.answers[mPage], $event)">
    <input type="radio" id="starM5{{mPage}}" name="rating{{mPage}}" value="5"
           [checked]="question.answers[mPage].note === 5">
    <label class="full" for="starM5{{mPage}}" title="5 étoile"></label>
    <input type="radio" id="starM4{{mPage}}" name="rating{{mPage}}" value="4"
           [checked]="question.answers[mPage].note === 4">
    <label class="full" for="starM4{{mPage}}" title="4 étoile"></label>
    <input type="radio" id="starM3{{mPage}}" name="rating{{mPage}}" value="3"
           [checked]="question.answers[mPage].note === 3">
    <label class="full" for="starM3{{mPage}}" title="3 étoile"></label>
    <input type="radio" id="starM2{{mPage}}" name="rating{{mPage}}" value="2"
           [checked]="question.answers[mPage].note === 2">
    <label class="full" for="starM2{{mPage}}" title="2 étoile"></label>
    <input type="radio" id="starM1{{mPage}}" name="rating{{mPage}}" value="1"
           [checked]="question.answers[mPage].note === 1">
    <label class="full" for="starM1{{mPage}}" title="1 étoile"></label>
    <input class="d-none" type="radio" id="starM0{{mPage}}" name="rating{{mPage}}" value="0"
           [checked]="question.answers[mPage].note === 0">
    <label class="full d-none" for="starM0{{mPage}}" title="0 étoile"></label>
  </fieldset>
</div>

<div class="row" id="evaluate">Évaluez cette proposition</div>

<div class="row" id="btn-row-mobile" *ngIf="question && question.answers">
  <button class="btn btn-outline-info" (click)="previousPage()" *ngIf="mPage > 0">PRÉCÉDENT</button>
  <button class="btn  btn-outline-info" (click)="nextPage()" *ngIf="mPage < question.answers.length - 1">SUIVANT
  </button>
  <button routerLink="/interets/choice" class="btn btn-outline-info" *ngIf="mPage === question.answers.length - 1">VOS
    INTÉRÊTS
  </button>
</div>
