@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background-color: #F9F8F7;
}

.container {
  margin-left: 10%;
  margin-right: 0;
}

#ctn-box {
  width: 50%;
  background-color: white;
  margin-top: 2%;
  color: #4A4E53;
}

#question-mobile {
  justify-content: center;
  border-bottom: 3px solid #f6921e;
  margin-bottom: 20%;
}

#question-mobile > div > h3 {
  padding-bottom: 5%;
  font-weight: bold;
}

.row {
  justify-content: center;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%
}

#evaluate {
  margin-bottom: 10%;
  font-size: 75%;
}

.answers {
  font-weight: bold;
}

#btn-row {

}

.btn {
  margin-top: 1%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.btn-danger {
  background-color: #ec1c24;
}

/**** STAR RATING ****/
fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome, serif;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



