<div>
  <fieldset class="testchoice" (change)="testChanged($event)">
    <input type="radio" name="AB-testing" id="A" [checked]="testing === 'A'">
    <label for="A" class="btn"
           [ngClass]="{'btn-info': testing === 'A', 'btn-outline-info': testing === 'B'}">A-testing</label>
    <input type="radio" name="AB-testing" id="B" [checked]="testing === 'B'">
    <label for="B" class="btn btn-outline-info"
           [ngClass]="{'btn-info': testing === 'B', 'btn-outline-info': testing === 'A'}">B-testing</label>
  </fieldset>
</div>
<app-test-a *ngIf="testing === 'A' && question" [userId]="userId" [question]="question"></app-test-a>
<app-test-b *ngIf="testing === 'B' && question" [userId]="userId" [question]="question"></app-test-b>



