.ctn {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks {
  border-top: solid 3px #ec1c24;
  text-align: center;
}

.thanks > h1 {
  font-weight: bold;
  font-size: 150%;
}
